<section class="alt-section">

  <h3 id="collages">Collages</h3>

  <div class="thumb-container">

    <a class="thumb-unit coll-one" data-lightbox="collages" data-title="My caption" href="assets/img/fb-collages/1.jpg">
      <div class="thumb-overlay">
        <strong>One</strong>
      </div>
    </a>

    <a class="thumb-unit coll-two" data-lightbox="collages" data-title="My caption" href="assets/img/fb-collages/2.jpg">
      <div class="thumb-overlay">
        <strong>Two</strong>
      </div>
    </a>

    <a class="thumb-unit coll-three" data-lightbox="collages" data-title="My caption" href="assets/img/fb-collages/3.jpg">
      <div class="thumb-overlay">
        <strong>Three</strong>
      </div>
    </a>

    <a class="thumb-unit coll-four" data-lightbox="collages" data-title="My caption" href="assets/img/fb-collages/4.jpg">
      <div class="thumb-overlay">
        <strong>Four</strong>
      </div>
    </a>

    <a class="thumb-unit coll-five" data-lightbox="collages" data-title="My caption" href="assets/img/fb-collages/5.jpg">
      <div class="thumb-overlay">
        <strong>Five</strong>
      </div>
    </a>

    <a class="thumb-unit coll-six" data-lightbox="collages" data-title="My caption" href="assets/img/fb-collages/6.jpg">
      <div class="thumb-overlay">
        <strong>Six</strong>
      </div>
    </a>

    <a class="thumb-unit coll-seven" data-lightbox="collages" data-title="My caption" href="assets/img/fb-collages/7.jpg">
      <div class="thumb-overlay">
        <strong>Seven</strong>
      </div>
    </a>

    <a class="thumb-unit coll-eight" data-lightbox="collages" data-title="My caption" href="assets/img/fb-collages/8.jpg">
      <div class="thumb-overlay">
        <strong>Eight</strong>
      </div>
    </a>
  </div>

</section>
