$icomoon-font-path: "fonts" !default;

$icon-camera-retro: "\f083";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-facebook-f: "\f09a";
$icon-soundcloud: "\f1be";
$icon-snapchat-ghost: "\f2ac";

